[tools]
bun = "1.3.9"

[env]
MISE_DISABLE_BACKENDS = "aqua,ubi"

[settings]
experimental = true
npm.bun = true

# Setup

[tasks.setup]
run = "bun install"

# Tests

[tasks.test]
depends = [
    "unit-test"
]

[tasks.unit-test]
run = "echo TODO"
#run = "bun run test"

# Linting

[tasks.format]
depends = ["setup"]
run = "bun run format"

# Release

[tasks.start-release]
run = "./scripts/git-tag-release.sh"

# Dependencies

[tasks.update-dependencies]
run = "bun update"
depends_post = ["setup"]