name: Reusable CI

on:
  workflow_call:

jobs:
  unit-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: jdx/mise-action@v3
        with:
          install: true
          experimental: true
          cache: true

      - name: Unit Test
        run: mise unit-test